html {
    font-size: 14px;
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

*, *::after, *::before {
    box-sizing: inherit;
}

:root {
    --white: #fff;
    --cream: #f2ebe3;
    --light-green: #3c8067;
    --dark-green: #1b4133;
    --grey: #6c7289;
    --black: #1c232b;
}


html, body {
    height: 100%;
    width: 100vw;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cream);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 1rem 0;
}

.container {
    width: 90%;
    max-height: 90vh;
    background-color: var(--white);
    margin: 0 auto;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.perfume-img {
    width: 100%;
    max-height: 20rem;
    display: block;
    border-radius: 0.5rem 0.5rem 0 0;
    object-fit: cover;
}

.text {
    width: 80%;
    font-size: 1em;
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    gap: 0;
}

h1 {
    font-family: Fraunces, sans-serif;
    color: var(--black);
    line-height: 1;
}

.text > p {
    color: var(--grey);
    margin: 0;
}

.description {
    line-height: 1.5;
    font-size: 0.9em;
    margin: 0 0 0.6rem 0;

}

.product {
    letter-spacing: 0.2em;
    font-size: 0.9em;
    margin: 0 0 0.25rem 0;
}

.price {
    display: flex;
    align-items: center; 
    gap: 1rem;
}

.current-price {
    color: var(--light-green);
    font-family: Fraunces, sans-serif;
    font-size: 2rem;
    margin: 0;
    
}

.old-price { 
    color: #6c7289;
    text-decoration: line-through;

}

.add-to-cart {
    width: 100%;
    height: 3rem;
    margin: 1rem 0 2rem;
    border-radius: 0.5rem;
    border: 0;
    background-color: var(--light-green);
    color: #fff;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
}


.btn-img {
    height: 40%;
    margin-right: 0.5rem;
}

@media (any-pointer: fine) and (min-width: 375px) {
    
    .container {
        display: flex;
        flex-direction: row;
        width: min(720px, 90%);
        max-width: 900px;
        max-height: auto;
        
    }

    .text {
        display: flex;
        font-size: 1em;
        flex-direction: column;
        align-self: flex-start;
        height: 100%;
        padding: 5% 4%;
        margin: 0;
        gap: 1rem
    }

    .perfume-img {
        flex: 0 0 50%;
        width: 50%;
        max-height: none;
        object-fit: cover;
        border-radius: 0;
    }

    .product, .description, .old-price {
        font-size: 1.15rem
    }

    .current-price {
        margin: 2rem 0; 
        font-size: 2.5rem;
    }


    .label {
        padding-right: 3rem;
        font-size: 2.5rem; 
    }

    .add-to-cart {
        margin: 0;
    }
}

  @media (min-width: 375px) and (max-width: 800px) {
    .label, .current-price {
        font-size: 4vw;
    }
    .product, .description, .old-price {
        font-size: 2vw;
    }
    .add-to-cart {
        height: 5vw;
    }
  }
  @media (min-width: 600px) and (max-width: 700px) {
    .text {
        gap: 1.8vw;
    }
  }
  @media (min-width: 500px) and (max-width: 600px) {
    .text {
        gap: 1.2vw;
    }
  }
  @media (min-width: 375px) and (max-width: 500px) {
    .text {
        gap: 0.5vw;
    }
  }
